<?xml version="1.0" encoding="UTF-8"?>
<root>
    <PARSEBY>Projects</PARSEBY>
    <Email>
    <!-- send email from infomations-->
    <SEND_EMAIL_INFO>
        <!--user 163 smtp servers!!!-->
        <mail_host>smtp.163.com</mail_host>
        <!-- user this user and password send email-->
        <mail_user>mstar_scott_cao@163.com</mail_user>
        <!-- client password not login password-->
        <mail_password>xxxx</mail_password>
        <!-- Email title-->
        <mail_title>Mantis OverDue</mail_title>
    </SEND_EMAIL_INFO>
    <!-- send email to the email addres list, if PARSEBY is Projects,this will not to use-->
    <SENDTOLISTADDRS>
        <person_cc>scott.cao@mstarsemi.com</person_cc>
    </SENDTOLISTADDRS>
    </Email>
    <URL>
        <main-url>http://mantis.mstarsemi.com</main-url>
        <login-url>http://mantis.mstarsemi.com/login.php</login-url>
        <login-username>scott.cao</login-username>
        <login-password>xxx</login-password>
    </URL>
    <MANTIS_PROJECT>
        <mantis-project-id>C_SZ_napoli_OTT</mantis-project-id>
    </MANTIS_PROJECT>
</root>